header {
    background: linear-gradient(to right, #042e6f, #042e6f 50%, #f2f2f2 50%, #f2f2f2);
    padding: 0 30px 30px;
    
    .visual img { 
        width: 100%;
    }

    h1 {
        position: absolute;
        left: 30px;
        top: 0;
    }

    #lnb {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 232px;
        box-sizing: border-box;

        nav {
            border-bottom: 1px solid rgba(255,255,255,0.5);

            & > ul {

                ul {
                    display: none;
                }

                & > li {

                    display: inline-block;

                    & > a {
                        display: block;
                        font-size: 18px;
                        color: #fff;
                        width: 160px;
                        height: 69px;
                    }
                }
            }
        }
    }

    & > ul {
        display: flex;
        position: absolute;
        right: 30px;
        top: 0;
        width: 170px;
        background: #f2f2f2;

        li {
            flex: 1;
            line-height: 70px;
            padding: 0 0 0 18px;

            a {
                &:before {
                    //로그인 아이콘 이미지
                    background: url() no-repeat;
                    content: '';
                    width: 23px;
                    height: 23px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &:first-child {
                a {   
                    & ::before {
                        background-position: 0 0;
                    }
                }
            }
            
            &:last-child {
                a {   
                    & ::before {
                        background-position: -23px 0;
                    }
                }
            }
        }
    }
}